
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  margin-top: 0px;
}
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.video-container .description .inner {
  font-size: 1em;
  width: 45%;
  margin: 0 auto;
}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

.services{
    padding-top: 40px;
    padding-bottom: 40px;
}

.headline> h1{
    font-size: 100px; 
    line-height: 63px; 
    font-weight: 600; 
    border-bottom: solid 2px #fff; 
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: solid 2px #fff; 
    display: inline-block; 
    overflow:auto;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .headline > h1{
        font-size:40px;
    }
    .video-container .description .inner >p {
        font-size: 20px;
    }
}

.inner > p{
    font-size: 30px; 
    font-weight: 400;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media screen and (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 50px;
  }
}

.intro-aboutus{
    background-color: #e7e7e7;
    padding-bottom: 60px;
    padding-top: 20px;
}

.featurette-image{
    margin-top: 50px;
}

.career{
     padding-bottom: 60px;
    padding-top: 60px;
}

.button{
    border-style: solid;
    padding: 15px;
    font-size:16px;
    color: #262626;
    font-weight: bolder;
}

.button:hover,
.button:focus{
    text-decoration: none;
    color: #ff6600;
}

.parallax-container {
    min-height: 260px;
    background: transparent;
    padding-bottom: 20px;
}

.integers{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
}

.stat-title{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}

.facts-title{
    font-size: 60px;
    color: white;
    padding-bottom: 10px;
    padding-top:20px;
}

.stat-one, .stat-two, .stat-three, .stat-four{
    padding-bottom: 20px;
    padding-top: 10px;
}

.list-info{
    padding-top:20px;
    padding-bottom:20px;
}

.list-info  >.icon {
    float: left;
    width: 0.9em;
    font-size: 200%;
    font-style: italic;
    line-height: 90%;
    color: grey;
    margin-right:60px;
}

.list-info  >p {
    text-align:left
}

.aboutus-text{
    margin-top:6px;
    margin-bottom:5px;
    text-align:left;
}

.list-info:hover >.icon {
    color:#ff6600;
}

.list-info:hover >.icon {
    color:#ff6600;
}

.services-title{
    font-size: 60px;
    padding-bottom: 10px;
}

.lecturers{
    width:135px;
    height:135px;
}

.div-lecturer{
    color:white;
}

.cliente {
    padding:40px;
	margin-top:10px;
	border-radius: 50px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    background-color:rgba(0, 0, 0, 0.9);

}

.lecturers-title{
    font-size: 60px;
    color: black;
    padding-bottom: 10px;
    padding-top:20px;
    margin-left:20px;
    margin-right: 20px
}

footer {
	color:#777;
	background:#222;
	border-top:2px solid #444;
}

footer h1,footer h2,footer h3,footer h4{
	color:#ddd;
	font-weight:300;
}

#footerRights {
	background-color:#333;
	color:#999;
	border-top:1px solid #1b1b1b;
    padding-top:3px;
    padding-bottom:3px;
    padding-top:10px;
}

.socialNetwork{
    padding-left: 0px;
}

.socialNetwork > li{
    display: inline;
}

#footerLogo{
    width:200px;
    height:60px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.slider-title > span {
    color:#fff;
    background: rgba(0, 0, 0, 0.9);
    display:inline-block;
}

.parallax-aboutus{
    padding-top: 70px;
	padding-bottom: 60px;
	color: white;
}

.aboutusPara{
    min-height: 300px;
    background: transparent;
    margin-top: 0px;
}

.parallax-title{
    padding-top: 130px;
	color: white;
}

.bground{
    background: #DFDFDF;
}

.body-white{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px 60px 60px 60px;
    font-size: 16px;  
}

.services-list > li{
    font-size:16px;
    margin-bottom:8px;
}



.wecan-list{
    list-style-image: url('https://cdn0.iconfinder.com/data/icons/free-misc-icon-set-1/512/check-16.png');
}

.nodo-list{
    list-style-image: url('http://www.lavishalice.com/media/stick_close.png');
}

.title-line{
    border: 0;
    width: 100%;
    color: #DFDFDF;
    background-color: #DFDFDF;
    height: 4px;
}

.house-title{
    margin-top: 50px;
}

.nodo-title{
    margin-top:25px;
}

@media(max-width: 480px) {
    .body-white{
        padding: 20px 30px 60px 30px;  
    }
}

.loginbground{
    background: url("http://carfulan.com/wp-content/uploads/2016/06/Coventry-Engineering-Campus.jpg");
    height: 100%;
    position: relative;
    background-repeat:no-repeat;
    background-position:center;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  max-width: 360px;
  padding-top: 160px;
  padding-bottom: 0px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background:rgba(0, 0, 0, 0.9);;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

