<!DOCTYPE html>
<html lang="en" ng-app="ISSChatApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Student Support</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/coventry.png') }}" type="image/x-icon"> 
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/scrolling-nav.css') }}" >
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hover-min.css') }}">
    <script src="https://use.fontawesome.com/eee93ac27c.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pygment_trac.css') }}">
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/controller.js') }}"></script>
</head>

<body>

    <!-- child template -->
    {% block content %}{% endblock %}

    

    <footer id="footerWrapper">
        <section id="mainFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="footerWidget">
                            <br>
                            <img src="{{ url_for('static', filename='img/CU-Logo.png') }}" alt="latest Little Neko news" id="footerLogo">
                            <p>Coventry University is a University. Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interdumlProin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml </p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footerWidget">

                            <h3>Coventry University</h3>
                            <address>
							<p> <i class="icon-location"></i>Gulson Road, <br>
								Coventry,CV1 2JH UK <br>
								<i class="icon-phone"></i>02477653564 <br>
								<i class="icon-mail-alt"></i><a href="mailto:cem.facultyregistry.eec@coventry.ac.uk	">cem.facultyregistry.eec@coventry.ac.uk</a></p>
				        </address>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footerWidget">
                            <h3>Follow us, we are social</h3>
                            <ul class="social-network social-circle">

                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="footerRights">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Copyright © 2016 <a href="http://www.little-neko.com" target="blank"> Coventry University</a> / All rights reserved.</p>
                    </div>

                </div>
            </div>
        </section>
    </footer>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/parallax.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="{{ url_for('static', filename='js/scale.fix.js') }}"></script>
    <script>
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 100,
                time: 2000
            });
        });
    </script>

</body>

</html>
