{% extends "base.html" %}
{% block content %}

<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Student Support</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/faqs">FAQ'S</a></li>
                    <li><a href="/availability">Availability</a></li>
                    <li><a href="/Quiz">Quiz</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session['logged_in'] == True %}
                    <li><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
                    {% else %}
                    <li><a href="/login">Login <span class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="title-container">
                <div class="headline">
                    <h1>Student Support</h1>
                </div>
                <div class="description">
                    <div class="inner">
                        <p>Computing, Electronics & Maths</p>
                    </div>
                </div>
            </div>
            <div class="filter"></div>
            <video autoplay loop class="fillWidth">
                <source src="{{ url_for('static', filename='video/BackgroundVideo.mp4') }}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.</video>
            <div class="poster hidden">
                <img src="http://www.videojs.com/img/poster.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="container services">
        <div class="row">
            <div class="col-md-4">
                <center>
                    <img src="{{ url_for('static', filename='img/computericon.png') }}">
                    <h3>Programming Support</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img src="{{ url_for('static', filename='img/mathsicon.png') }}" >
                    <h3>Maths Support Centre</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
                </center>
            </div>
            <div class="col-md-4">
                <center>
                    <img src="{{ url_for('static', filename='img/electronicsicon.png') }}">
                    <h3>Electronics Support</h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
                </center>
            </div>
        </div>
    </div>

    <div class="intro-aboutus">
        <div class="container">
            <div class="row">
                <div class="featurette">
                    <div class="col-md-7 col-md-push-5 wow bounceInRight" data-wow-duration="2s" data-wow-delay=".15s">
                        <h2 class="featurette-heading">We Support You</h2>
                        <p class="lead">Many students find that there is a maths element to their degree and can struggle with aspects of statistics, quantitative research or financial analysis. Don't worry, help is on hand. You will find that in maths, often each new subject builds on the one before and so it's important to keep up. Don't assume that things will become clearer later. If you are struggling, make sure that you deal with the problem immediately.</p>
                        <a href="/aboutus" class="button hvr-float-shadow">LEARN MORE</a>
                    </div>
                    <div class="col-md-5 col-md-pull-7 wow bounceInLeft" data-wow-duration="2s" data-wow-delay=".15s">
                        <img class="featurette-image img-responsive center-block" src="{{ url_for('static', filename='img/student.png') }}" width="500px" height="555px" alt="Generic placeholder image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container career">
        <div class="row">
            <div class="col-md-7">
                <h2 class="featurette-heading">The EC Futures Career Fair</h2>
                <p class="lead">In March we hosted our annual Engineering & Computing Career fair and what another fantastic event it was!
                    <br> We had 50 companies attend and a range of E&C students from all years who made the most out of the opportunity to speak to potential employers and leave a fantastic first impression.
                    <br> The E&C career fair is an annual event and a perfect opportunity to find out more about the industry and build up your contacts. Our students dressed to impressed and came armed with CVs and plenty of questions!</p>
            </div>
            <div class="col-md-5" style="padding-top:64px;">
                <script src="//content.jwplatform.com/players/HQLmlXBn-nTmJIljl.js"></script>
            </div>
        </div>
    </div>

    
    <div class="parallax-container aboutusPara" data-parallax="scroll" data-bleed="10" data-image-src="{{ url_for('static', filename='img/Formula-wallpaper.jpg') }}" data-natural-width="1400" data-natural-height="900">
        <h1 class="text-center facts-title">Facts</h1>
        <div class="container text-center">
            <div class="row">
            <div class="col-md-3">
                <div class="stat-one">
                    <span class=".integers integers counter">59</span>
                    <div class="stat-title">AWARDS</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-two">
                    <span class=".integers integers counter">1054</span>
                    <div class="stat-title">STUDENTS</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-three">
                    <span class=".integers integers counter">34</span>
                    <div class="stat-title">lECTURERS</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="stat-four">
                    <span class=".integers integers counter"> 154</span>
                    <div class="stat-title">ROOMS</div>
                </div>
            </div>
            </div>
        </div>
    </div>
    

    <div class="container services">
        <h1 class="text-center services-title">What We Provide</h1>
        <p class="text-center">Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed fermentum. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci</p>

        <div class="col-md-4 list-info">
            <span class="icon"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
            </span></span>
            <h4 class="aboutus-text">Outstanding Support</h4>
            <p class="">Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
        </div>
        <div class="col-md-4 list-info">
            <span class="icon"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x fa-inverse"></i>
            </span></span>
            <h4 class="aboutus-text">Friendly</h4>
            <p class="">Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
        </div>
        <div class="col-md-4 list-info">
            <span class="icon"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-money fa-stack-1x fa-inverse"></i>
            </span></span>
            <h4 class="aboutus-text">Free</h4>
            <p class="">Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
        </div>
        <div class="col-md-4 list-info">
            <span class="icon"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
            </span></span>
            <h4 class="aboutus-text">Flexible</h4>
            <p class="">Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
        </div>
        <div class="col-md-4 list-info">
            <span class="icon"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span></span>
            <h4 class="aboutus-text">Customizable </h4>
            <p class="">Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
        </div>
        <div class="col-md-4 list-info">
            <span class="icon"><span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
            </span></span>
            <h4 class="aboutus-text">Patient</h4>
            <p class="">Proin et augue vel nisi rhoncus tincidunt. Cras venenatis</p>
        </div>
    </div>

    <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="{{ url_for('static', filename='img/Coventry_University.jpg') }}" data-natural-width="1280" data-natural-height="460">
        <h1 class="text-center lecturers-title slider-title"><span>&nbsp Popular Lecturers &nbsp</span></h1>
        <div class="container text-center">
            <div class="col-lg-4 div-lecturer">
                <div class="cliente">
                    <center><img class="img-responsive img-circle lecturers" src="{{ url_for('static', filename='img/Mike_Tyers.jpeg') }}" alt="Mark Tyers display picture"></center>
                    <h3>Mark Tyers</h3>
                    <h4>Programming Lecturer</h4>
                    <p>" Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml "</p>
                </div>
            </div>
            <div class="col-lg-4 div-lecturer">
                <div class="cliente">
                    <center><img class="img-responsive img-circle lecturers" src="{{ url_for('static', filename='img/frank_ocean.jpg') }}" alt="Frank Ocean display picture"></center>
                    <h3>Frank Ocean</h3>
                    <h4>Maths Lecturer</h4>
                    <p>" Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml "</p>
                </div>
            </div>
            <div class="col-lg-4 div-lecturer">
                <div class="cliente">
                    <center><img class="img-responsive img-circle lecturers" src="{{ url_for('static', filename='img/theresa-may.jpeg') }}" alt="Theresa May display picture"></center>
                    <h3>Theresa May</h3>
                    <h4>Engineering Lecturer</h4>
                    <p>" Proin et augue vel nisi rhoncus tincidunt. Cras venenatis, magna id sem ipsum mi interduml "</p>
                </div>
            </div>
        </div>

    </div>

    
{% endblock %}


